body {
    background-color: white;
    color: black;
}

.navbarTitle {
    color: #4A2D3E;
    font-size: 28px;
    text-align: center;
}

.gradient {
    margin: 0px;
    max-width: 2000px;
    background-image: linear-gradient(to right, #324376, #5398BE, #8daa91);
}

.navbar {
    color: white;
}

.nav-link {
    color: white;
    margin-bottom: -20px;
    padding: 14px;
}

.nav-link:hover {
    color: #4A2D3E;
    font-weight: bold;
}

#signIn {
    color: white;
    font: bold 17px tahoma;
}

#createAcct {
    color: #324376;
    font: bold 17px tahoma;
    float: right;
}

#signIn:hover {
    color: #324376;
}