body {
    background-color: white;
    color: black;
}

h2 {
    text-align: center;
    color:  #324376;
}

.navbarTitle {
    color: #4A2D3E;
    font-size: 28px;
    text-align: left;
}

.gradient {
    margin: 0px;
    max-width: 2000px;
    background-image: linear-gradient(to right, #324376, #5398BE, #75A2A5, #8daa91);
}

.navbar {
    color: white;
}

.nav-link {
    color: white;
    margin-bottom: -20px;
    padding: 14px;
}

.nav-link:hover {
    color: #4A2D3E;
    font-weight: bold;
}

.homeDiv {
    border: solid 3px black;
}

.homeImg {
    padding: 0px;
    opacity: .9;
    border-radius: 50px;
}

.captionDiv {
    color: white;
    background-color: black;
    opacity: .6;
    border-radius: 20px;
    width:fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height:fit-content;
    margin:auto;
}
  


#homeContainer {
        position: relative;
      }

#signIn {
    color: white;
    font: bold 17px tahoma;
}

#createAcct {
    color: #324376;
    font: bold 17px tahoma;
    float: right;
}

#signIn:hover {
    color: #324376;
}

#compassWest {
    opacity: .6;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#compassEast {
    opacity: .6;
    border-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

